
.demo{
     
    height:500px;
    border-radius: 30px;
    border: 1px solid rgb(49, 26, 182);
    padding: 20px;
    margin-top: 20px;
}
.demo h5{
    font-size: 17px;
    margin-top: 15px;
}
.demo1 {
    
    height:500px;
    border-radius: 30px;
    border: 1px solid rgb(49, 26, 182);
    padding: 20px;
    margin-top: 20px;
}
.demo1 h5{
    font-size: 17px;
    margin-top: 15px;
}
.demo2 {
    
    height:500px;
    border-radius: 30px;
    border: 1px solid rgb(49, 26, 182);
    padding: 20px;
    margin-top: 20px;
}
.demo2 h5{
    font-size: 17px;
    margin-top: 15px;
}
.demo3 {
    
    height:500px;
    border-radius: 30px;
    border: 1px solid rgb(49, 26, 182);
    padding: 20px;
    margin-top: 20px;
}
.demo3 h5{
    font-size: 17px;
    margin-top: 15px;
}
.demo4 {
    
    height:300px;
    border-radius: 30px;
    border: 1px solid rgb(49, 26, 182);
    padding: 20px;
    margin-top: 20px;
}
.demo4 h4{
    font-size: 17px;
    margin-top: 15px;
}